@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada')
// Noto Sans for San Serif Alphabet
@font-face
  font-family: 'Noto Sans'
  font-weight: 100
  font-weight: 200
  font-weight: 300
  font-weight: 400
  font-weight: 500
  src: local('NotoSans'),
       local('Noto Sans'),
       url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nJBw1xU1rKptJj_0jans920.woff2) format('woff2')
  font-display: swap
@font-face
  font-family: 'Noto Sans'
  font-weight: 600
  font-weight: 700
  font-weight: 800
  font-weight: 900
  src: local('NotoSans-Bold'),
       local('Noto Sans Bold'),
       url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1xampu5_7CjHW5spxoeN3Vs.woff2) format('woff2')
  font-display: swap
// Noto Serif for Serif Alphabet
@font-face
  font-family: 'Noto Serif'
  font-weight: 100
  font-weight: 200
  font-weight: 300
  font-weight: 400
  font-weight: 500
  src: local('NotoSerif'),
       local('Noto Serif'),
       url(https://fonts.gstatic.com/s/notoserif/v4/eCpfeMZI7q4jLksXVRWPQwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2')
  font-display: swap
@font-face
  font-family: 'Noto Serif'
  font-weight: 600
  font-weight: 700
  font-weight: 800
  font-weight: 900
  src: local('NotoSerif-Bold'),
       local('Noto Serif Bold'),
       url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPWaVI6zN22yiurzcBKxPjFE.woff2) format('woff2')
  font-display: swap
// Noto Sans JP and 源ノ角(Source han sans JP)
@font-face
  font-family: 'NotoSansJP-fixed'
  font-weight: 100
  font-weight: 200
  font-weight: 300
  font-weight: 400
  font-weight: 500
  src: local('NotoSansCJKjp-Regular'),
       local('SourceHanSansJP-Regular'),
       local('Noto Sans CJK JP'),
       local('Source Han Sans JP')
  font-display: swap
@font-face
  font-family: 'NotoSansJP-fixed'
  font-weight: 600
  font-weight: 700
  font-weight: 800
  font-weight: 900
  src: local('NotoSansCJKjp-Bold'),
       local('SourceHanSansJP-Bold'),
       local('Noto Sans CJK JP'),
       local('Source Han Sans JP')
  font-display: swap
// Noto Serif JP and 源ノ明朝(Source han serif JP)
@font-face
  font-family: 'NotoSerifJP-fixed'
  font-weight: 100
  font-weight: 200
  font-weight: 300
  font-weight: 400
  font-weight: 500
  src: local('NotoSerifCJKjp-Regular'),
       local('SourceHanSerifJP-Regular'),
       local('Noto Serif CJK JP'),
       local('Source Han Serif JP')
  font-display: swap
@font-face
  font-family: 'NotoSerifJP-fixed'
  font-weight: 600
  font-weight: 700
  font-weight: 800
  font-weight: 900
  src: local('NotoSerifCJKjp-Bold'),
       local('SourceHanSerifJP-Bold'),
       local('Noto Serif CJK JP'),
       local('Source Serif Sans JP')
  font-display: swap
// 游ゴシック
@font-face
  font-family: 'YuGothic-fixed'
  font-weight: 100
  font-weight: 200
  font-weight: 300
  font-weight: 400
  font-weight: 500
  src: local('YuGo-Medium'),
       local('YuGothic-Medium'),
       local('Yu Gothic Medium'),
       local('YuGothic-Regular')
  font-display: swap
@font-face
  font-family: 'YuGothic-fixed'
  font-weight: 600
  font-weight: 700
  font-weight: 800
  font-weight: 900
  src: local('YuGo-Bold'),
       local('YuGothic-Bold'),
       local('Yu Gothic')
  font-display: swap
// 游明朝
@font-face
  font-family: 'YuMincho-fixed'
  font-weight: 600
  font-weight: 700
  font-weight: 800
  font-weight: 900
  src: local('YuMin-Medium'),
       local('YuMincho-Medium'),
       local('Yu Mincho Medium'),
       local('YuMincho-Regular')
  font-display: swap
@font-face
  font-family: 'YuMincho-fixed'
  font-weight: 600
  font-weight: 700
  font-weight: 800
  font-weight: 900
  src: local('YuMin-Demibold'),
       local('YuMincho-Demibold'),
       local('Yu Mincho')
  font-display: swap
// Trick: if you want make disable loading from local font, just set `local('☺︎')`
